body {
    font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
    font-size: 90%;
    margin: 10px;
    color: #333;
    background-color: #fff;
}

pre {
    width: 95%;
    height: 400px;
    font-family: monospace;
    font-size: 1.5em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

#pagetitle {
    text-align: center;
}

#drop_zone {
    margin: auto;
    border: 3px solid green;
    width: 200px;
    height: 100px;
    text-align: center;
}

#drop_msg {
    padding: 3px;
}

#drop_file, #post_file, #post_send, #post_reply {
    margin: auto;
    width: 80%;
}

pre#postout {
    height: auto!important;
    max-height: 200px;
}

#runbtn {
    margin:0 auto;
    display:block;
    font-size: 1.5em;
}
